.table {
  --color-gray: #333;
  --color-light-gray: #ccc;
  --border-style: 0.5px solid var(--color-light-gray);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  max-width: 100%;
}
.table * {
  display: flex;
  width: 100%;
}
.table tr {
  width: 100%;
  display: grid;
}

.table th,
.table td {
  padding: 0.15rem 0.5rem;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  border-collapse: collapse;
  word-break: break-word;
}
