* {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Comforter", cursive; */
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  list-style: none;
  text-decoration: none;
}

.boton {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #bbb6b6;
}

.botonfondoTransparante {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 10px;
}

.cambiarcolores {
  background-color: none;
  transition: 850ms;
}
.cambiarcolores.active {
  background-color: #197fa1 !important;
  transition: 550ms;
}
.estado {
  border: "2px solid #F18721" !important;
  border-radius: "25px" !important;
}
